.image-container {
	position: relative;
  }
  
  .expand-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	
	cursor: pointer;
	color: #fff;
	font-size: 24px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	padding: 8px;
	display: none;
  }
  
  .expand-icon:hover {
	background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal {
	display: none;
	position: fixed;
	z-index: 1050;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	outline: 0;
  }
  
  .modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
  }
  
  .modal-content {
	width: 100%;
  }
  
  .modal-body {
	text-align: center;
  }
  
  .modal-body img {
	max-width: 100%;
	height: auto;
  }


/* CUSTOMIZE THE MEMBERS CARDS
  -------------------------------------------------- */
.profile-image{
	border-radius: 20px;
	
}
.profile-card{
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
	margin-bottom: 4rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #87a58d; /* Replace with your desired color */
	
  }

  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
	bottom: 3rem;
	color: grey;
	z-index: 10;
  }
    
  .carousel-item {
    justify-content: center;
    align-items: center;
  }

  .carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  

  .eden-animated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  
  