  /* CUSTOMIZE THE INTRO ICONS
  -------------------------------------------------- */ 
.icon-service {
  line-height: 1.3;
  position: relative;
  width: 100px;
  height: 100px;
  background: #aaa;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
  

.icon-border{ 
  border: 2px solid blue;
  border-radius: 50%;
}

/* CUSTOMIZE THE LAB MEMBERS CARDS
  -------------------------------------------------- */
.profile-image{
	border-radius: 20px;
	
}
.profile-card{
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


  /* CUSTOMIZE THE FOR FUN CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
	margin-bottom: 4rem;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #87a58d; /* Replace with your desired color */
    position: relative;
    bottom: -58%;
	
  }
  
  
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
	bottom: 3rem;
	color: grey;
	z-index: 10;
  }
    
  .carousel-item {
    justify-content: center;
    align-items: center;
  }

  .carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
/* NOT USED
  -------------------------------------------------- */
  
  .eden-animated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  
  